@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(-15deg, #172844 3%, #244056 46%, #6ba2bf 100%);
    color: whitesmoke;
    // overflow: hidden;

    section {
        margin: 20rem 0;
        align-items: center;
        max-width: none;

        div {
            flex-direction: row;
        }

        h1 {
            font-size: 3rem;
            margin: 2rem auto;
            padding-bottom: 1rem;
            text-align: center;
            width: 30rem;
            border-bottom: thin solid whitesmoke;
        }
    }

    input,
    button {
        font-size: 3rem;
        color: #172844;
        margin: 0;
        padding: 0 1rem;
        border: none;
        transition: all .1s ease-in;

        &:hover {
            background-color: #bac8e0;
        }
    }

    button:hover {
        cursor: pointer;
    }

    span {
        margin: 0;
        font-size: 3rem;
        font-weight: 900;
    }

    figure {
        padding-top: 5rem;
        margin: 20rem 8rem 8rem 0;
    }

    #start-field,
    #game-field,
    #end-field {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #start-field {
        margin-top: 0;
        padding-top: 20rem;
    }

    #game-field {
        .gameUI {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .guessing {
            margin-top: 8rem;
            display: flex;
            flex-direction: column;

            #game-letters {
                margin-top: 8rem;

                .hidden {
                    user-select: none;
                    color: rgba(255, 255, 255, 0);
                }
            }

            div {
                margin-top: 10rem;
                flex-direction: row;

                input {
                    width: 5rem;
                }
            }
        }

        .guessed {
            display: flex;
            flex-direction: row;

            span {
                margin-right: 2rem;
            }
        }
    }

    li {
        display: inline;
        list-style-type: none;
        background-color: #95aed6;
        padding: 1rem 1.5rem;
        border-bottom: #172844 3px solid;
        margin: 0 0.5rem 5rem 0;
        font-size: 2rem;
    }

    input {
        width: 19.75rem;
    }


    #end-field {
        margin-top: 30rem;
    }

    #reset-btn {
        margin-top: 5rem;
    }
}
